body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: white;
	background-size: 100% auto;
}

#fullscreenButton {
	position: absolute;
	right: 10px;
	top: 5px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #3c3bff;
}

#surface{	
	height: 65%;
    background-color: #ffffff;
    width: 95%;
	margin-left:2.5%;
	top:15%;
	position: absolute;
	border-width:5px;
	border-style:groove;

}


#buttonlist {	
    position: absolute;
	text-align: center;
	height: 10%;
    background-color: #4ba7ff;
    width: 95%;
	margin-left:2.5%;
	top:82%;
	border-width:5px;
	border-style:groove;
	padding: 0;
}
#buttonlist li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}



#counter {
	position: absolute;
	text-align: center;
	height: 10%;
    background-color: #4ba7ff;
    width: 95%;
	margin-left:2.5%;
	border-width:5px;
	border-style:groove;
}
	
input {
    width: 20%;
    height: 50%;
	margin-top:10px;
	
}
